<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Des singes savants!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
        .page-header {
            top: 55px;
            position: relative;
        }
    </style>
</head>

<body>
<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Les Bonobos</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li>
                        <a href="{{ path('user_edit_profile') }}">
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        </a>
                    </li>
                    <li><a href="{{ path('fos_user_profile_edit') }}">Editer mon compte</a></li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if app.user %}
                        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    {% endif %}
                </li>
            </ul>

        </div>
    </div>
</header>

<div class="container page-header">
    <div class="row ">
        {% for type, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ type }}">
                    {{ flash }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="col-md-8">
            {% block body %}
            {% endblock %}
        </div>
        <div class="col-md-4">
            {% if app.user %}
                <h3>Vos amis</h3>
                {{ render(controller('AppBundle:User:indexFriends')) }}
            {% else %}
                <h3>Rejoindre les bonobos</h3>
                <p>
                    L'objectif est de créer une liste d'amis pour Bonobo(singes intelligents) sous symfony.
                </p>
                <ul>
                    <li>(Inscription/Connexion/Déconnexion) du bonobo par login/mot de passe (FOSUserbundle).</li>

                    <li>(Ajouter/Lister/Supprimer) un bonobo de sa liste d'amis (relation "many to many" une seule
                        table).
                    </li>

                    <li>(Afficher/Modifier) leurs informations (age / famille / race / nourriture)</li>
                </ul>
            {% endif %}
        </div>
    </div>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="#top">Retour en haut</a></li>
                </ul>
                <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT
                        License</a>.</p>
                <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a
                            href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts
                    from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>
            </div>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>