{% extends 'base.html.twig' %}

{% block body %}
    <h1>Votre profil</h1>
    <h2>
        Vos informations
    </h2>
    {% include "user/form.html.twig" with {form: edit_form} %}
    <h2>
        Vos goûts
    </h2>
    <p>
        {% for food in user.food %}
            {{ food.name|e }} <a class="text-danger" title="supprimer"
                                 href="{{ path('user_remove_food', {'food_id' : food.id}) }}">x</a>
        {% endfor %}
    </p>

    {{ form_start(form_food, {'method': 'post'}) }}
    {{ form_widget(form_food) }}
        <input class="btn btn-success" type="submit" value="Ajouter à mes plats"/>

    {{ form_end(form_food) }}

{% endblock %}