{{ form_start(form) }}

<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.age) }}
    </div>
</div>
{{ form_widget(form) }}
<div>
    <input class="btn btn-success" type="submit" value="Valider" />
</div>
{{ form_end(form) }}