{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Bonobos</h1>
    <p>Retrouvez les Bonobos inscrits sur l'application</p>
    {% for user in users %}
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">{{ user.username|escape }}
                    <small>{{ user.family.name }} ({{ user.family.race.name }}) âgé de {{ user.age }} ans</small>
                </h4>
                <h6>Aliments favoris</h6>
                {% for food in user.food %}
                    <span class="label label-info">{{ food.name|e }}</span>
                {% endfor %}
            </div>
            <div class="media-right">
                {% if user in my_friends %}
                    <a class="btn btn-warning btn-xs" href="{{ path('user_remove_friend', {'user_id': user.id }) }}">
                        Supprimer <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                    </a>
                {% else %}
                    <a class="btn btn-primary btn-xs" href="{{ path('user_add_friend', {'user_id': user.id }) }}">
                        Ajouter <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}
